
PORT=8000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URL=mongodb://yuvrajkumar7837_db_user:Password123@ac-whslokc-shard-00-00.f5gk20u.mongodb.net:27017/Agent?ssl=true&authSource=admin&directConnection=true
JWT_SECRET=gngngieorweuibgffogenwknw
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openai/gpt-4o-mini
FIREBASE_API_KEY=AIzaSyDdMCF__OMHs7xrtzHRzfP4OmCvLtMpRjw

 